@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./block/page/page.css);
@import url(./block/button/button.css);
@import url(./block/check-list/check-list.css);
@import url(./block/check-list/__container/check-list__container.css);
@import url(./block/check-list/__circular-progress/check-list__circular-progress.css);
@import url(./block/check-list/__text-container/check-list__text-container.css);
@import url(./block/check-list/__title/check-list__title.css);
@import url(./block/check-list/__sub-title/check-list__sub-title.css);
@import url(./block/check-list/__text/check-list__text.css);
@import url(./block/check-list/__button/check-list__button.css);
@import url(./block/circular-progress/circular-progress.css);
@import url(./block/circular-progress/__svg-container/circle-progress__svg-container.css);
@import url(./block/circular-progress/__circle/circular-progress__circle.css);
@import url(./block/circular-progress/__circle/_type/circular-progress__circle_type_bg.css);
@import url(./block/circular-progress/__circle/_type/circular-progress__circle_type_fg.css);
@import url(./block/circular-progress/__text/circular-progress__text.css);

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;

  --color-blue: #3579F5;
  --color-black: #000;
  --color-white: #fff;
  --color-dark-blue: #2364DB;

  --progress: 2;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
